.search-bar-container {
  width: 97%;
  position: absolute;
  padding-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-top-left-radius: 10px;
}

.search-bar {
  width: 100%;
  font-size: x-large;
  line-height: 2;
  border: 0px;
  border-bottom: 1px solid black;
}

.search-bar:focus {
  outline: none;
}