.search-bar-container {
  width: 100%;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
}
.search-bar {
  width: 97%;
  font-size: x-large;
  line-height: 2;
  border: 0px;
  border-bottom: 1px solid black;
}